body {
  padding: 0;
  margin: 0;
  background-color: #231F20;
}

html {
  padding: 0;
  margin: 0;
}

/*Landing Page*/

.landing{
/*  width: 100vw;
  height: 100vh;*/
  font-family: 'Source Serif Pro', serif;
  font-weight: 900;
  color: rgb(229, 227, 228);
  padding-top: 25vh;
  font-size: 4vh;
}

#welcome{
    height: 20vh;
    margin: auto;
    display: block;
}

#languages{
  margin-top: 20vh;
  text-align: center;
}

/*Main Site*/

.site{
   display: none; 
}

#svg{
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

#pauseWrapper{
  position: fixed;
  right: 0%;
  top: 53%;
  width: 7vw;
  transform: rotate(90deg);
}

#pause{
  z-index: 5;
  width: 7vw;
  pointer-events: none;
}

#player{
  display: none;
  }